.hero {
	padding: 100px 200px;
	background-color: var(--gray500);
}

.title-container h1 {
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	color: var(--white);
}
.title-container p {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: var(--white);
}
.maincontact-btn {
	background-color: var(--gray300) !important;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}

.btn-secondary {
	background: linear-gradient(270deg, #d14e27 0%, #ff9f83 100%);
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	border: none;
}
